version: "3.8"
services: 
  golang: 
    container_name: marketGo
    build: 
      context: .
      dockerfile: Dockerfile
    ports: 
      - "8080:8080"
    depends_on:
      - redis
    env_file:
      - .env
    networks:
      - golang_network
    command: sh -c "sleep 10 && /app/go-market"
  redis:
    container_name: my-redis
    image: redis:latest
    ports: 
      - "6379:6379"
    networks:
      - golang_network
networks:
  golang_network:
    name: golang_network